fastapi==0.115.8
uvicorn==0.34.0
gunicorn==23.0.0
python-dotenv==1.0.0
passlib==1.7.4
pydantic-settings==2.7.1
requests==2.32.3
PyJWT==2.4.0
SQLAlchemy[asyncio]==2.0.38
pytest==8.3.4
pytest-asyncio==0.26.0
Faker==25.0.0
httpx==0.27.0
google-api-python-client==2.160.0
isodate==0.7.2
beautifulsoup4==4.13.3
cryptography==44.0.2
asyncpg==0.30.0
locust==2.34.0
regex==2023.8.8
pip-system-certs==4.0
pydantic[email]